/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Georgia';
  src: url("../resources/Georgia/Georgia.woff") format("woff"), url("../resources/Georgia/Georgia.ttf") format("truetype"), url("../resources/Georgia/Georgia.svg#Georgia") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url("../resources/Georgia/georgia.eot");
  src: url("../resources/Georgia/georgia.woff2") format("woff2"), url("../resources/Georgia/georgia.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url("../resources/Georgia/Georgia-Bold.woff") format("woff"), url("../resources/Georgia/Georgia-Bold.ttf") format("truetype"), url("../resources/Georgia/Georgia-Bold.svg#Georgia-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url("../resources/Georgia/georgiab.eot");
  src: url("../resources/Georgia/georgiab.woff2") format("woff2"), url("../resources/Georgia/georgiab.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url("../resources/Georgia/Georgia-Italic.woff") format("woff"), url("../resources/Georgia/Georgia-Italic.ttf") format("truetype"), url("../resources/Georgia/Georgia-Italic.svg#Georgia-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url("../resources/Georgia/georgiai.eot");
  src: url("../resources/Georgia/georgiai.woff2") format("woff2"), url("../resources/Georgia/georgiai.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url("../resources/Georgia/Georgia-BoldItalic.woff") format("woff"), url("../resources/Georgia/Georgia-BoldItalic.ttf") format("truetype"), url("../resources/Georgia/Georgia-BoldItalic.svg#Georgia-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url("../resources/Georgia/georgiaz.eot");
  src: url("../resources/Georgia/georgiaz.woff2") format("woff2"), url("../resources/Georgia/georgiaz.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/ArialMT.woff") format("woff"), url("../resources/Arial/ArialMT.ttf") format("truetype"), url("../resources/Arial/ArialMT.svg#ArialMT") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("../resources/Arial/arial.eot");
  src: url("../resources/Arial/arial.woff2") format("woff2"), url("../resources/Arial/arial.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 184, ../sass/main_styles.scss */
body {
  font-family: 'PT Sans', 'Georgia', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
}

/* line 264, ../sass/main_styles.scss */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 271, ../sass/main_styles.scss */
a {
  text-decoration: none;
}

/*---------------------------------------*/
/* line 275, ../sass/main_styles.scss */
header {
  height: 50px;
  padding: 1px 0 6px 0;
  background-color: white;
  border-top: 3px solid #ffa800;
  border-bottom: 1px solid #e1dddb;
}
/* line 282, ../sass/main_styles.scss */
header .wrapper {
  padding: 0 10px;
}

/* line 286, ../sass/main_styles.scss */
.dropdovn-menu-desctop,
.dropdown-menu-desctop-main {
  display: none;
}

/* line 290, ../sass/main_styles.scss */
.dropdovn-menu-mobile {
  position: relative;
}
/* line 292, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu {
  display: block;
  position: fixed;
  list-style: none;
  padding: 35px 0 10px 0;
  margin: 0;
  box-sizing: border-box;
  width: 306px;
  background-color: #f2eeeb;
  height: auto;
  top: 0;
  left: -350px;
  transition: left .2s;
  z-index: 999;
  -webkit-transform: classZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 308, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu li {
  display: block;
  width: 100%;
  height: 43px;
  margin: 0 0 0 20px;
  text-align: left;
  line-height: 43px;
  vertical-align: middle;
}
/* line 317, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #8f8681;
  font: 400 22px / 40px 'Arial', sans-serif;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 325, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu li a:hover {
  color: #f27935;
}
/* line 329, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu li a.active {
  color: #f27935;
}
/* line 333, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu .language-select {
  position: relative;
  overflow: hidden;
  margin-left: 0;
  padding-left: 20px;
}
/* line 338, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu .language-select:after {
  position: absolute;
  content: "";
  width: 1000%;
  height: 1px;
  background: #fff;
  left: 0;
  bottom: 0;
}
/* line 347, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu .language-select a, .dropdovn-menu-mobile .hidden-menu .language-select span {
  display: inline-block;
  width: auto;
  color: #010101;
  font: 400 22px / 30px 'Arial', sans-serif;
}
/* line 355, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu-ticker {
  display: none;
}
/* line 358, ../sass/main_styles.scss */
.dropdovn-menu-mobile .btn-menu {
  color: #fff;
  background-color: none;
  padding: 5px;
  position: absolute;
  top: 20px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 9999;
  width: 22px;
  -webkit-transform: classZ(0);
  -webkit-backface-visibility: hidden;
}
/* line 372, ../sass/main_styles.scss */
.dropdovn-menu-mobile .btn-menu span {
  display: block;
  height: 2px;
  background-color: #8f8681;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  border-radius: 10px;
  position: relative;
}
/* line 381, ../sass/main_styles.scss */
.dropdovn-menu-mobile .btn-menu span.first {
  margin-top: 0;
}
/* line 384, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .btn-menu {
  position: fixed;
  left: 260px;
  top: 15px;
}
/* line 389, ../sass/main_styles.scss */
.dropdovn-menu-mobile .hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}

/*logo*/
/* line 395, ../sass/main_styles.scss */
.logo {
  width: 55px;
  height: auto;
  overflow: hidden;
  float: left;
  margin: 0 0 0 16%;
  text-align: center;
}
/* line 403, ../sass/main_styles.scss */
.logo img {
  max-width: 100%;
  height: auto;
}

/* line 408, ../sass/main_styles.scss */
.logo-sign {
  float: left;
  color: #370909;
  font: 400 13px / 14px 'Georgia', sans-serif;
  margin: 25px 0 0 6px;
  overflow: hidden;
}

/* line 415, ../sass/main_styles.scss */
.info-button {
  float: left;
  margin: 15px 0 0 0;
  overflow: hidden;
}

/*dropdown phone*/
/* line 421, ../sass/main_styles.scss */
.call-us-block {
  float: right;
  margin: 0;
  line-height: 33px;
  vertical-align: middle;
}
/* line 427, ../sass/main_styles.scss */
.call-us-block img {
  display: inline-block;
  line-height: 33px;
  vertical-align: middle;
}

/* line 433, ../sass/main_styles.scss */
#info-mobile {
  width: 253px;
  height: auto;
  background-color: #f2eeeb;
  clear: none;
  float: right;
  position: absolute;
  top: 61px;
  right: 0;
  z-index: 100;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 445, ../sass/main_styles.scss */
#info-mobile a {
  display: block;
  margin: 15px auto;
  text-align: center;
}
/* line 449, ../sass/main_styles.scss */
#info-mobile a .phone {
  color: #908782;
  font: 400 25px / 31px 'PT Sans', sans-serif;
  font-style: italic;
}

/* line 456, ../sass/main_styles.scss */
.call-us-block > label {
  color: #000;
  float: right;
  margin: 15px 0 0 10px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 462, ../sass/main_styles.scss */
.call-us-block > label .fa-phone {
  font-size: 23px;
  color: #171c61;
}

/* line 467, ../sass/main_styles.scss */
input {
  display: none;
}

/* line 468, ../sass/main_styles.scss */
input:checked + #info-mobile {
  display: none;
}

/*end dropdown phone*/
/*end menu*/
/*------------------------------------*/
/* line 473, ../sass/main_styles.scss */
.content-main {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
}

/* line 476, ../sass/main_styles.scss */
.title-bg {
  width: 100%;
  background: #fff;
}
/* line 479, ../sass/main_styles.scss */
.title-bg .head-title {
  margin: 12px auto 11px;
  text-align: center;
  color: #ffab08;
  font: 700 18px / 19px 'PT Sans', sans-serif;
  font-style: italic;
}

/* line 487, ../sass/main_styles.scss */
.content-bg {
  background-color: #e1ddda;
}
/* line 489, ../sass/main_styles.scss */
.content-bg .list-title {
  margin: 22px auto;
  text-align: center;
}
/* line 492, ../sass/main_styles.scss */
.content-bg .list-title a {
  color: #370909;
  font: 35px / 56px 'Georgia', sans-serif;
  font-style: italic;
}
/* line 498, ../sass/main_styles.scss */
.content-bg .children-list,
.content-bg .youth-list,
.content-bg .business-list,
.content-bg .special-list {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
/* line 507, ../sass/main_styles.scss */
.content-bg .children-list li,
.content-bg .youth-list li,
.content-bg .business-list li,
.content-bg .special-list li {
  display: block;
  width: 100%;
  text-align: left;
  margin: 15px auto;
}
/* line 512, ../sass/main_styles.scss */
.content-bg .children-list li a,
.content-bg .youth-list li a,
.content-bg .business-list li a,
.content-bg .special-list li a {
  color: #8f8681;
  font: 400 18px / 19px 'Arial', sans-serif;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid transparent;
}
/* line 518, ../sass/main_styles.scss */
.content-bg .children-list li a:hover,
.content-bg .youth-list li a:hover,
.content-bg .business-list li a:hover,
.content-bg .special-list li a:hover {
  border-color: #8f8681;
}

/* line 525, ../sass/main_styles.scss */
.main-about {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  background-color: #f2eeeb;
}
/* line 528, ../sass/main_styles.scss */
.main-about .main-title {
  margin: 34px auto 13px;
  text-align: center;
  color: #370909;
  font: 300 22px / 20px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 535, ../sass/main_styles.scss */
.main-about .main-description {
  margin: 0 auto;
  color: #908782;
  font: 400 18px / 22px 'PT Sans', sans-serif;
}
/* line 540, ../sass/main_styles.scss */
.main-about .prioritet-title {
  margin: 30px auto 13px;
  text-align: center;
  color: #370909;
  font: 400 22px / 20px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 547, ../sass/main_styles.scss */
.main-about .prioritet-list {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto 25px;
  text-align: center;
}
/* line 553, ../sass/main_styles.scss */
.main-about .prioritet-list li {
  display: block;
  margin: 10px auto;
  padding-bottom: 5px;
  text-align: left;
  border-bottom: 1px dotted #908782;
}
/* line 560, ../sass/main_styles.scss */
.main-about .prioritet-list li:last-child {
  border-bottom: none;
}
/* line 563, ../sass/main_styles.scss */
.main-about .prioritet-list li a {
  color: #908782;
  font: 18px / 18px 'PT Sans', sans-serif;
  font-style: italic;
}

/*------------------------------------*/
/* line 573, ../sass/main_styles.scss */
footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  background: #370909;
}
/* line 577, ../sass/main_styles.scss */
footer .phone-list {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 20px auto 0;
  text-align: center;
}
/* line 583, ../sass/main_styles.scss */
footer .phone-list li {
  display: block;
  width: 100%;
  margin: 15px auto;
  color: #908782;
  font: 25px / 31px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 592, ../sass/main_styles.scss */
footer .loction {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px auto 0;
  text-align: center;
  color: #908782;
  font: 18px / 25px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 602, ../sass/main_styles.scss */
footer .social-icons {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 26px auto;
  text-align: center;
}
/* line 609, ../sass/main_styles.scss */
footer .social-icons li {
  display: inline-block;
  margin: 0 15px;
  text-align: center;
}
/* line 616, ../sass/main_styles.scss */
footer .copyright {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto 20px;
  text-align: center;
  color: #908782;
  font: 400 10px / 19px 'PT Sans', sans-serif;
}
/* line 624, ../sass/main_styles.scss */
footer .copyright a {
  color: #908782;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 628, ../sass/main_styles.scss */
footer .copyright a:hover {
  text-decoration: underline;
}

/*------------------------------------*/
/*------------------------------------*/
@media (min-width: 480px) {
  /* line 639, ../sass/main_styles.scss */
  header .call-us-block .label {
    margin-left: 30px;
  }
}
/*------------------------------------*/
/* line 646, ../sass/main_styles.scss */
.direction {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  padding: 6px 0;
  background-color: #e1ddda;
}
/* line 194, ../sass/main_styles.scss */
.direction .arrow-back {
  float: left;
  margin: 5px 0 0 0;
}
/* line 198, ../sass/main_styles.scss */
.direction .direction-title {
  margin: 0 auto;
  text-align: center;
}
/* line 201, ../sass/main_styles.scss */
.direction .direction-title a {
  color: #8f8681;
  font: 400 15px / 25px 'Arial', sans-serif;
  text-transform: uppercase;
}

/*-----------------------------------*/
/* line 650, ../sass/main_styles.scss */
.about-us-page {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
}
/* line 652, ../sass/main_styles.scss */
.about-us-page .about-title {
  margin: 24px auto 12px;
  text-align: center;
  color: #370909;
  font: 700 22px / 22px 'PT Sans', sans-serif;
}
/* line 658, ../sass/main_styles.scss */
.about-us-page .proposition {
  margin: 10px auto;
  color: #908782;
  font: 400 18px / 22px 'PT Sans', sans-serif;
}
/* line 663, ../sass/main_styles.scss */
.about-us-page .proposition-list {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 25px auto;
  text-align: center;
  list-style-type: disc;
}
/* line 671, ../sass/main_styles.scss */
.about-us-page .proposition-list li {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-left: 5px;
  text-align: left;
  text-indent: 30px;
  color: #908782;
  font: 400 18px / 22px 'PT Sans', sans-serif;
}
/* line 682, ../sass/main_styles.scss */
.about-us-page .proposition-list li:before {
  position: absolute;
  content: "";
  left: 25px;
  top: 12px;
  width: 2px;
  height: 2px;
  background: #908782;
  border-radius: 100%;
  font: 400 18px / 22px 'PT Sans', sans-serif;
}
/* line 695, ../sass/main_styles.scss */
.about-us-page .proposition-description {
  margin: 20px auto;
  color: #908782;
  font: 400 18px / 22px 'PT Sans', sans-serif;
}

/*-----------------------------------*/
@media (max-width: 320px) {
  /* line 704, ../sass/main_styles.scss */
  .sob-podrob .arrow-back {
    margin: 18px 0 0 0;
  }
}
/*--------------------------------------*/
/* line 711, ../sass/main_styles.scss */
.activitis-page .img-container {
  width: 100%;
  margin: 22px auto 20px;
  text-align: center;
}
/* line 715, ../sass/main_styles.scss */
.activitis-page .img-container img {
  max-width: 100%;
  height: auto;
}

/*--------------------------------------*/
/*--------------------------------------*/
/* line 723, ../sass/main_styles.scss */
.news-page {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
}
/* line 725, ../sass/main_styles.scss */
.news-page .news-list {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
/* line 732, ../sass/main_styles.scss */
.news-page .news-list li {
  width: 100%;
  margin: 24px auto 33px;
  overflow: hidden;
}
/* line 737, ../sass/main_styles.scss */
.news-page .news-list li .title {
  margin: 0 auto;
  text-align: center;
  color: #370909;
  font: 700 22px / 25px 'PT Sans', sans-serif;
  text-transform: uppercase;
}
/* line 744, ../sass/main_styles.scss */
.news-page .news-list li .img-block {
  max-width: 145px;
  max-height: 145px;
  width: 100%;
  height: auto;
  margin: 9px auto 21px;
  text-align: center;
  overflow: hidden;
  border-radius: 100%;
  border: 3px solid #e1dddb;
}
/* line 755, ../sass/main_styles.scss */
.news-page .news-list li .img-block img {
  max-width: 100%;
  height: auto;
}
/* line 760, ../sass/main_styles.scss */
.news-page .news-list li .news-description {
  color: #908782;
  text-align: left;
  font: 15px / 20px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 766, ../sass/main_styles.scss */
.news-page .news-list li .news-more {
  position: relative;
  float: right;
  width: 128px;
  height: 35px;
  margin: 10px 15px 0 0;
  color: #370909;
  font: 18px / 35px 'PT Sans', sans-serif;
  font-style: italic;
  background-color: white;
  border: 1px solid #e1ddda;
  border-radius: 10px;
}
/* line 779, ../sass/main_styles.scss */
.news-page .news-list li .news-more:before {
  position: absolute;
  left: -2003%;
  top: 20px;
  content: "";
  width: 2000%;
  height: 1px;
  border-bottom: 1px dotted #908782;
}
/* line 788, ../sass/main_styles.scss */
.news-page .news-list li .news-more img {
  float: right;
  margin: 10px 10px 0 0;
}
/* line 795, ../sass/main_styles.scss */
.news-page .page-pagination {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 26px auto 31px;
  text-align: center;
  box-sizing: border-box;
}
/* line 218, ../sass/main_styles.scss */
.news-page .page-pagination li {
  display: inline-block;
  margin: 0 5px;
}
/* line 221, ../sass/main_styles.scss */
.news-page .page-pagination li a {
  color: #908782;
  font: 400 22px / 20px 'PT Sans', sans-serif;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 227, ../sass/main_styles.scss */
.news-page .page-pagination li a:hover {
  color: #f37835;
}

/*--------------------------------------*/
/*--------------------------------------*/
/* line 801, ../sass/main_styles.scss */
.gallery-event-page {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
}
/* line 804, ../sass/main_styles.scss */
.gallery-event-page .gallery-event-list {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
/* line 811, ../sass/main_styles.scss */
.gallery-event-page .gallery-event-list li {
  display: block;
  margin: 24px auto 33px;
  overflow: hidden;
}
/* line 816, ../sass/main_styles.scss */
.gallery-event-page .gallery-event-list li .img-block {
  max-width: 145px;
  max-height: 145px;
  width: 100%;
  height: auto;
  margin: 9px auto 21px;
  text-align: center;
  overflow: hidden;
  border-radius: 100%;
  border: 3px solid #e1dddb;
}
/* line 827, ../sass/main_styles.scss */
.gallery-event-page .gallery-event-list li .img-block img {
  max-width: 100%;
  height: auto;
}
/* line 833, ../sass/main_styles.scss */
.gallery-event-page .gallery-event-list li .title {
  margin: 0 auto;
  text-align: center;
  color: #908782;
  font: 18px / 22px 'PT Sans', sans-serif;
  font-style: italic;
}

/*--------------------------------------*/
/*--------------------------------------*/
/* line 845, ../sass/main_styles.scss */
.news-more-page {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
}
/* line 847, ../sass/main_styles.scss */
.news-more-page .wrapper {
  padding: 0 25px;
}
/* line 851, ../sass/main_styles.scss */
.news-more-page .article-img {
  max-width: 267px;
  max-height: 178px;
  width: 100%;
  height: auto;
  margin: 24px auto 17px;
  text-align: center;
  overflow: hidden;
}
/* line 860, ../sass/main_styles.scss */
.news-more-page .article-img img {
  max-width: 100%;
  height: auto;
}
/* line 865, ../sass/main_styles.scss */
.news-more-page .article-description {
  color: #908782;
  font: 400 18px / 22px 'PT Sans', sans-serif;
}
/* line 869, ../sass/main_styles.scss */
.news-more-page .after-title {
  margin: 20px 0;
  font: 700 18px / 22px 'PT Sans', sans-serif;
  color: red;
}
/* line 874, ../sass/main_styles.scss */
.news-more-page .after-description {
  padding: 15px 0;
  font: 400 18px / 22px 'PT Sans', sans-serif;
  color: #908782;
  border-top: 1px dotted red;
  border-bottom: 1px  dotted red;
}
/* line 881, ../sass/main_styles.scss */
.news-more-page .reasons-title {
  margin-top: 25px;
  font: 700 18px / 22px 'PT Sans', sans-serif;
  color: indigo;
}
/* line 886, ../sass/main_styles.scss */
.news-more-page .reasons-list {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto 19px;
  text-align: center;
}
/* line 892, ../sass/main_styles.scss */
.news-more-page .reasons-list li {
  display: block;
  width: 100%;
  margin: 5px auto 15px;
  overflow: hidden;
  text-align: left;
}
/* line 899, ../sass/main_styles.scss */
.news-more-page .reasons-list li .reasons-number {
  font: 700 18px / 22px 'PT Sans', sans-serif;
  color: indigo;
}
/* line 903, ../sass/main_styles.scss */
.news-more-page .reasons-list li .reasons-item {
  display: inline;
  font: 400 18px / 22px 'PT Sans', sans-serif;
  color: #908782;
}
/* line 910, ../sass/main_styles.scss */
.news-more-page .arrow-pagination {
  clear: both;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  padding: 22px 0 21px;
  border-top: 1px dotted #908782;
}
/* line 917, ../sass/main_styles.scss */
.news-more-page .arrow-pagination img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/* line 923, ../sass/main_styles.scss */
.news-more-page .arrow-pagination span {
  display: inline-block;
  vertical-align: middle;
  color: #e1dddb;
  font: 400 25px / 20px 'PT Sans', sans-serif;
}

/*--------------------------------------*/
/* line 932, ../sass/main_styles.scss */
.kids-page {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
}
/* line 935, ../sass/main_styles.scss */
.kids-page .article-img {
  max-width: 163px;
  max-height: 163px;
  width: auto;
  height: auto;
  margin: 21px auto 23px;
  text-align: center;
  overflow: hidden;
}
/* line 944, ../sass/main_styles.scss */
.kids-page .article-img img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  border: 5px solid #f2eeeb;
}
/* line 951, ../sass/main_styles.scss */
.kids-page .kids-content {
  margin-bottom: 15px;
  border-top: 1px dotted #5a5a5a;
  padding-top: 19px;
}
/* line 956, ../sass/main_styles.scss */
.kids-page .kids-content .education-item {
  display: block;
  margin: 0 auto 25px;
  font: 22px / 25px 'PT Sans', sans-serif;
  font-style: italic;
  color: indigo;
}
/* line 963, ../sass/main_styles.scss */
.kids-page .kids-content .article-description {
  margin: 15px auto;
  font: 18px / 22px 'PT Sans', sans-serif;
  color: #5a5a5a;
}

/*--------------------------------------*/
/*--------------------------------------*/
/* line 972, ../sass/main_styles.scss */
.contact-page {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
}
/* line 975, ../sass/main_styles.scss */
.contact-page .address,
.contact-page .phone {
  color: #818080;
  font: 18px / 22px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 980, ../sass/main_styles.scss */
.contact-page .address span,
.contact-page .phone span {
  display: block;
}
/* line 984, ../sass/main_styles.scss */
.contact-page .address {
  margin: 24px auto 20px;
}
/* line 987, ../sass/main_styles.scss */
.contact-page .mapWrapper {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 17px auto 15px;
}
/* line 241, ../sass/main_styles.scss */
.contact-page .mapWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 991, ../sass/main_styles.scss */
.contact-page .map-link {
  float: right;
  margin: 0 0 15px 0;
  color: #370909;
  font: 18px / 23px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 998, ../sass/main_styles.scss */
.contact-page .feedbck-form {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
  border-top: 1px dotted #b5afac;
}
/* line 1005, ../sass/main_styles.scss */
.contact-page .feedbck-form .form-title {
  margin: 25px auto 22px;
  text-align: center;
  color: #370909;
  font: 22px / 23px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 1012, ../sass/main_styles.scss */
.contact-page .feedbck-form ::-webkit-input-placeholder {
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
}
/* line 1017, ../sass/main_styles.scss */
.contact-page .feedbck-form :-moz-placeholder {
  /* Firefox 18- */
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
}
/* line 1022, ../sass/main_styles.scss */
.contact-page .feedbck-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
}
/* line 1027, ../sass/main_styles.scss */
.contact-page .feedbck-form :-ms-input-placeholder {
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
}
/* line 1031, ../sass/main_styles.scss */
.contact-page .feedbck-form .name,
.contact-page .feedbck-form .phone,
.contact-page .feedbck-form .email {
  display: block;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 12px auto;
  padding-left: 12px;
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
  border: none;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e1ddda;
  outline: none;
}
/* line 1049, ../sass/main_styles.scss */
.contact-page .feedbck-form .message {
  display: block;
  width: 100%;
  height: 181px;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 12px;
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
  background-color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  resize: none;
  border: 1px solid #e1ddda;
}
/* line 1065, ../sass/main_styles.scss */
.contact-page .feedbck-form .submit-button {
  display: block;
  float: right;
  width: 128px;
  height: 35px;
  margin: 10px 0 33px;
  cursor: pointer;
  background-color: #e1ddda;
  border: 1px solid #e1ddda;
  border-radius: 10px;
  outline: none;
}
/* line 1076, ../sass/main_styles.scss */
.contact-page .feedbck-form .submit-button span {
  color: #370909;
  font: 18px / 30px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 1081, ../sass/main_styles.scss */
.contact-page .feedbck-form .submit-button img {
  float: right;
  max-width: 100%;
  height: auto;
  margin: 8px 5px 0 0;
}

/*--------------------------------------*/
/*--------------------------------------*/
/* line 1092, ../sass/main_styles.scss */
.question-form-page {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
}
/* line 1094, ../sass/main_styles.scss */
.question-form-page .feedbck-form {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}
/* line 1100, ../sass/main_styles.scss */
.question-form-page .feedbck-form .form-title {
  margin: 25px auto 22px;
  text-align: center;
  color: #370909;
  font: 22px / 23px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 1107, ../sass/main_styles.scss */
.question-form-page .feedbck-form ::-webkit-input-placeholder {
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
}
/* line 1112, ../sass/main_styles.scss */
.question-form-page .feedbck-form :-moz-placeholder {
  /* Firefox 18- */
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
}
/* line 1117, ../sass/main_styles.scss */
.question-form-page .feedbck-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
}
/* line 1122, ../sass/main_styles.scss */
.question-form-page .feedbck-form :-ms-input-placeholder {
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
}
/* line 1126, ../sass/main_styles.scss */
.question-form-page .feedbck-form .name,
.question-form-page .feedbck-form .phone,
.question-form-page .feedbck-form .email {
  display: block;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 12px auto;
  padding-left: 12px;
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
  border: none;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e1ddda;
  outline: none;
}
/* line 1144, ../sass/main_styles.scss */
.question-form-page .feedbck-form .message {
  display: block;
  width: 100%;
  height: 181px;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 12px;
  color: #370909;
  font: 400 18px / 23px 'Arial', sans-serif;
  background-color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  resize: none;
  border: 1px solid #e1ddda;
}
/* line 1160, ../sass/main_styles.scss */
.question-form-page .feedbck-form .submit-button {
  display: block;
  float: right;
  width: 128px;
  height: 35px;
  margin: 10px 0 33px;
  cursor: pointer;
  background-color: #e1ddda;
  border: 1px solid #e1ddda;
  border-radius: 10px;
  outline: none;
}
/* line 1171, ../sass/main_styles.scss */
.question-form-page .feedbck-form .submit-button span {
  color: #370909;
  font: 18px / 30px 'PT Sans', sans-serif;
  font-style: italic;
}
/* line 1176, ../sass/main_styles.scss */
.question-form-page .feedbck-form .submit-button img {
  float: right;
  max-width: 100%;
  height: auto;
  margin: 8px 5px 0 0;
}

/*--------------------------------------*/
